body {
    background-color: #49379C;
    overflow: hidden;
}

#root {
    max-height: 100vh;
}

.logo {
    margin: 1em auto;
    height: auto;
    width: 65vw;
}

.logo img {
    width: 100%;
    height: auto;
}

.logo h5 {
    margin-top: 1.5em;
    color: #fff;
    text-align: center;
    font-size: 1.5vh;

}

.ant-drawer-body {
    background-color: #182B34;
    color: #fff;
    height: calc(100vh - 55px);
    padding: 0;
}

.ant-drawer-header {
    background-color: #182B34;
}

.ant-drawer-title {
    color: #fff;
}

.menu-btn {
    position: absolute;
    top: 2%;
    left: 3%;
    min-width: 4em !important;
    min-height: 3em;
    background-color: #182B34;
    border: none;
}

.search-bar {
    width: 100vw;
    margin: 2em auto;
}

.earth-model {
    margin: 1em auto;
    overflow: hidden;
    text-align: center;
}

.earth-model img {
    width: 100vw;
    max-width: 60em;
}

.footer {
    position: absolute;
    bottom: 2%;
    left: 0%;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.footer h5 {
    color: #fff;
    margin: 0;
    font-weight: normal;
}

.container-top,
.container-bottom {
    height: 45%;
    margin: 0;
}

.container-top {
    margin-top: 10vh;
}

.item {
    width: 100%;
    display: flex;
    column-gap: 1em;
    padding: 1em 1.5em;
}

p {
    margin: 0;
}

.login-options {
    width: 100vw;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5em;
}

.login-options-button {
    width: 15em;
}